In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('TSLA.csv')

,Date,Open,High,Low,Close,Adj Close,Volume
0,2010-06-29,3.800000,5.000000,3.508000,4.778000,4.778000,93831500
1,2010-06-30,5.158000,6.084000,4.660000,4.766000,4.766000,85935500
2,2010-07-01,5.000000,5.184000,4.054000,4.392000,4.392000,41094000
3,2010-07-02,4.600000,4.620000,3.742000,3.840000,3.840000,25699000
4,2010-07-06,4.000000,4.000000,3.166000,3.222000,3.222000,34334500
...,...,...,...,...,...,...,...
3033,2022-07-18,734.809998,751.549988,718.809998,721.640015,721.640015,27512500
3034,2022-07-19,735.000000,741.419983,710.929993,736.590027,736.590027,26963400
3035,2022-07-20,740.349976,751.989990,730.450012,742.500000,742.500000,29621400
3036,2022-07-21,765.320007,819.799988,764.599976,815.119995,815.119995,47344100
3037,2022-07-22,828.659973,842.359985,812.140015,816.729980,816.729980,34421200