In [72]:
import pandas as pd
from datetime import datetime
df = pd.read_csv('QuantStrategy/TSLA.csv')
strtime = lambda x: datetime.strptime(x, '%Y-%m-%d')
df['Date'] = df['Date'].apply(strtime)
# Monday is 0, Friday is 4, Sunday is 6;
df['weekday'] = df['Date'].apply(datetime.weekday)

In [79]:
df['shift_close'] = df['Adj Close'].shift(1)

In [80]:
df

,Date,Open,High,Low,Close,Adj Close,Volume,weekday,shift_close
0,2016-11-11,36.848000,37.776001,36.599998,37.712002,37.712002,19942500,4,NaN
1,2016-11-14,37.599998,37.650002,35.638000,36.290001,36.290001,32761000,0,NaN
2,2016-11-15,36.556000,37.285999,36.410000,36.754002,36.754002,19510000,1,NaN
3,2016-11-16,36.529999,36.945999,36.242001,36.785999,36.785999,17172000,2,NaN
4,2016-11-17,36.698002,37.897999,36.422001,37.731998,37.731998,24435500,3,NaN
...,...,...,...,...,...,...,...,...,...
1025,2020-12-09,653.690002,654.320007,588.000000,604.479980,604.479980,71291200,2,NaN
1026,2020-12-10,574.369995,627.750000,566.340027,627.070007,627.070007,67083200,3,NaN
1027,2020-12-11,615.010010,624.000000,596.799988,609.989990,609.989990,46475000,4,599.039978
1028,2020-12-14,619.000000,642.750000,610.200012,639.830017,639.830017,52040600,0,NaN
1029,2020-12-15,643.280029,646.900024,623.799988,633.250000,633.250000,45223600,1,NaN

In [45]:
df['Date'][0]

Timestamp('2016-01-11 00:11:00')

In [46]:
datetime.weekday(df['Date'][0])

0

In [64]:
date = datetime.strptime('2020-12-16', '%Y-%m-%d')

In [65]:
datetime.weekday(date)

2