In [3]:
import requests

In [4]:
import pandas as pd
import numpy as np

In [5]:
df = pd.DataFrame(np.array([[1, 2, 3,4], [4, 5, 6,4], [7, 8, 9,4]]),
...                    columns=['a', 'b', 'c', 1])

In [6]:
df

   a  b  c  1
0  1  2  3  4
1  4  5  6  4
2  7  8  9  4

In [23]:
df.shape[0]

3

In [25]:
df.columns.tolist()

['a', 'b', 'c', 'd']

In [36]:
df.dtypes

a    int32
b    int32
c    int32
1    int32
dtype: object

In [44]:
#numeric_col_names
df.select_dtypes(include=['float64','int']).columns.tolist()

['a', 'b', 'c', 1]

In [43]:
#non_numerical
df.select_dtypes(exclude=['float64','int']).columns.tolist()

[]

In [47]:
col_names = df.select_dtypes(include=['float64','int']).columns.tolist()
df[col_names].mean()

a    4.0
b    5.0
c    6.0
1    4.0
dtype: float64